#simulation
{
    background-image: url("../img/tile/south.png");
    background-repeat: repeat;
}

.sidebar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: lightblue;
    z-index: 10;
    overflow: auto;
    opacity: 0.7;
}

.sidebar-section
{
    border-bottom: 1px solid black;
    display: none;
    text-align: center;
}

#sidebar-dummy
{
    height: 1000px;
}

.title-bar
{
    background-color: lightgreen;
}

.title-bar-btn
{
    float: right;
    border: 1px solid gray;
    background-color: white;
    width: 20px;
}

.basket-item-btn
{
    border: 1px solid gray !important;
    background-color: white !important;
    width: 30px !important;    
}

#robotImg, #itemImg
{
    margin: 5px;
    width: 150px;
    height: 150px;
}

.ui-dialog
{
    opacity: 0.7;
}



#orders-list
{
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 250px;
    text-align: center;
    float: left;
    overflow: auto;
}

#orders-info
{
    position: absolute;
    left: 290px;
    top: 20px;
    bottom: 30px;
    float: left;
    overflow: auto;
    right: 10px;
}

.orders-entry
{
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
}

.orders-entry-selected
{
    background-color: lightskyblue;
}